<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<groupId>dev.galasa</groupId>
	<artifactId>dev.galasa.uber.obr</artifactId>
	<version>{{.Release}}</version>
	<packaging>galasa-obr</packaging>

    <name>Galasa OSGi Bundle Repository</name>

    <description>Galasa versions of all the released artifacts</description>
    <url>https://galasa.dev</url>

    <licenses>
        <license>
            <name>Eclipse Public License - v 2.0</name>
            <url>https://www.eclipse.org/legal/epl-2.0</url>
        </license>
    </licenses>

    <developers>
        <developer>
            <name>Michael Baylis</name>
            <email>Michael.Baylis@uk.ibm.com</email>
            <organization>IBM</organization>
            <organizationUrl>https://www.ibm.com</organizationUrl>
        </developer>
        <developer>
            <name>William Yates</name>
            <email>wyates@uk.ibm.com</email>
            <organization>IBM</organization>
            <organizationUrl>https://www.ibm.com</organizationUrl>
        </developer>
        <developer>
            <name>David Roberts</name>
            <email>david.roberts@uk.ibm.com</email>
            <organization>IBM</organization>
            <organizationUrl>https://www.ibm.com</organizationUrl>
        </developer>
        <developer>
            <name>James Davies</name>
            <email>james.davies@ibm.com</email>
            <organization>IBM</organization>
            <organizationUrl>https://www.ibm.com</organizationUrl>
        </developer>
        <developer>
            <name>Kees Jansen</name>
            <email>kees.jansen@ibm.com</email>
            <organization>IBM</organization>
            <organizationUrl>https://www.ibm.com</organizationUrl>
        </developer>
        <developer>
            <name>Jade Carino</name>
            <email>jade.carino@ibm.com</email>
            <organization>IBM</organization>
            <organizationUrl>https://www.ibm.com</organizationUrl>
        </developer>
    </developers>
    
    <scm>
        <url>https://github.com/galasa-dev/framework</url>
        <connection>scm:git:git:://github.com/galasa-dev/framework</connection>
        <developerConnection>scm:git:git:://github.com/galasa-dev/framework</developerConnection>
    </scm>

    <issueManagement>
        <url>https://github.com/galasa-dev/projectmanagement/issues</url>
        <system>GitHub</system>
    </issueManagement>

	<distributionManagement>
		<repository>
			<id>galasa.release.repo</id>
			<url>${galasa.release.repo}</url>
		</repository>
		<snapshotRepository>
			<id>galasa.snapshot.repo</id>
			<url>${galasa.snapshot.repo}</url>
		</snapshotRepository>
	</distributionManagement>

	<dependencies>
{{range .Artifacts}}
        <dependency>
            <groupId>{{.GroupId}}</groupId>
            <artifactId>{{.ArtifactId}}</artifactId>
            <version>{{.Version}}</version>
        </dependency>
    {{end}}
	</dependencies>

	<build>
		<plugins>
			<plugin>
				<groupId>dev.galasa</groupId>
				<artifactId>galasa-maven-plugin</artifactId>
				<version>0.17.0</version>
				<extensions>true</extensions>
				<executions>
					<execution>
						<id>deploy-testcatalog</id>
						<phase>deploy</phase>
						<goals>
							<goal>deploytestcat</goal>
						</goals>
					</execution>
				</executions>
			</plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-gpg-plugin</artifactId>
                <version>1.5</version>
                <executions>
                    <execution>
                        <id>sign-artifacts</id>
                        <phase>verify</phase>
                        <goals>
                            <goal>sign</goal>
                        </goals>
                        <configuration>
                            <gpgArguments>
                                <arg>--pinentry-mode</arg>
                                <arg>loopback</arg>
                            </gpgArguments>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
		</plugins>
	</build>

</project>